# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependency directories
.venv/
venv/
env/
envs/
.env
uv.lock
requirements.txt

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sqlite
*.db

# Development and IDE files
.vscode/
.idea/
*.swp
*~

# Compiled files
dist/
build/
site/
*.egg-info/

# Testing
htmlcov/
.coverage
.tox/

# Miscellaneous
.DS_Store
