fastapi==0.95.1
black==21.12b0
SQLAlchemy==2.0.19
motor==3.2.0
beanie==1.20.0
PyYAML==6.0.1
injector==0.21.0

# package release
setuptools
wheel
build
twine
git-changelog

# docs release
mkdocstrings-python
mkdocs-material