name: Tests

on: [push, workflow_call]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Python
      id: setup_python
      uses: actions/setup-python@v4
      with:
        python-version: |
          3.7
          3.8
          3.9
          3.10
          3.11

    - name: Run tests
      run: |
        pip install -r requirements-dev.txt
        pytest tests